<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/general/navbar.css">
    <link rel="stylesheet" href="/assets/css/pages/blog-form.css">
  </head>
  <body>
    {{> nav}}
    <main class="container mt-5 d-flex justify-content-center flex-wrap">
      <h1 class="mb-4 w-100 text-center fs-1">Add My <span class="text-primary">Project</span></h1>
      <form method="post" action="/api/blogs" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="name" class="form-label">Project Name</label>
          <input
            type="text"
            id="name"
            name="title"
            class="form-control border-primary"
            placeholder="Enter project name"
            autocomplete="off"
            required
          />
          <div class="invalid-feedback">Please enter a project name.</div>
        </div>

        <div class="row">
          <div class="col-md-3 w-50">
            <div class="mb-3">
          <label for="startdate" class="form-label ">Start Date</label>
          <input type="date" id="startdate" name="startdate" class="form-control border-primary" required />
        </div>
          </div>
          <div class="col-md-3 w-50">
            <div class="mb-3">
          <label for="enddate" class="form-label">End Date</label>
          <input type="date" id="enddate" name="enddate" class="form-control border-primary" required />
        </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="content" class="form-label">Description</label>
          <textarea
            id="content"
            rows="8"
            class="form-control border-primary"
            placeholder="Enter project content"
            name="content"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a description.</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input type="file" id="image" name="imageurl" class="form-control border-primary" required />
          <div class="invalid-feedback">Please upload an image.</div>
          <div id="imagePreview">
            <span class="text-danger"> *No image selected </span>
          </div>
        </div>

        <button type="submit" class="btn text-light" name="submit" style="background-color: #1e40af;">Submit</button>
      </form>
    </main>


    <script src="/assets/js/blog-form.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/alert-modal.js" type="module"></script>
    <script src="./assets/js/user.js" type="module"></script>
  </body>
</html>
