<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/src/css/pages/blog-detail.css">
    <link rel="stylesheet" href="/assets/src/css/general/navbar.css">
</head>
<body>
    {{> nav }}
    <main>
        {{#if blog}}
        {{#each blog}}
            
        <h1>{{title}}</h1>
        <section>
            <img src="/assets/uploads/{{imageurl}}" alt="" class="hero-image" style="width: 100%;">
            <p>{{description}}</p>
        </section>
            
        {{/each}}
        {{else}}
            <h1>blog not found</h1>
        {{/if}}
    </main>
</body>
</html>