<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/assets/images/cat-avatar.png" type="">

  <title> Testimonial </title>

  <!-- bootstrap core css -->
  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/css/pages/testimonial.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/assets/css/general/responsive.css" rel="stylesheet" />
  <link href="/assets/css/general/navbar.css" rel="stylesheet" />

</head>

<body class="sub_page">

  {{> nav}}
  <!-- team section -->
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          My <span> Testimonial</span>
        </h2>
      </div>

      <div class="row d-flex justify-content-center mt-3 gap-2">
        <div class="client-star">⭐1</div>
        <div class="client-star">⭐2</div>
        <div class="client-star">⭐3</div>
        <div class="client-star">⭐4</div>
        <div class="client-star">⭐5</div>
        <div class="client-star" style="width: 80px;">⭐All</div>
      </div>
      <div class="team_container">
        <div class="row">
          {{#each clients}}
          <div class="col-lg-3 col-sm-6 ">
            <div class="box pb-3">
              <div class="img-box">
                <img src="{{image}}" class="img1" alt="" width="70" height="120">
              </div>
              <div class="detail-box">
                <h5>
                  {{name}}
                </h5>
                <p>
                  {{feedback}}
                </p>
              </div>
              <div>
                ⭐{{star}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <!-- bootstrap js -->
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
    ></script>
    <script src="/assets/js/testimonial.js"></script>
</body>

</html>