body {
      background-color: #f8f9fa;
    }
    .profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 900px;
      margin: 50px auto;
      padding: 20px;
      background: white;
      border-radius: 10px;
      /* Tambahkan bayangan lebih tebal */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .profile-text {
      flex: 2;
      padding-right: 20px;
    }
    .profile-text h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    .profile-text p {
      margin-bottom: 20px;
      line-height: 1.6;
    }
    .profile-icons button {
      background-color: black;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      margin-right: 10px;
    }
    .profile-icons button a {
      text-decoration: none;
    }
    .profile-icons a {
      margin-right: 15px;
      color: black;
      text-decoration: none;
    }
    .profile-icons .social-icons a {
      margin: 0 15px;
      font-size: 2rem; /* Perbesar ukuran ikon */
      color: black; /* Ubah warna ikon menjadi hitam */
    }
    .profile-card {
      flex: 1;
      text-align: center;
    }
    .profile-card img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 10px;
      /* Tambahkan bayangan lebih tebal */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .profile-card h3 {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .profile-card p {
      margin: 0;
      font-size: 1rem;
      color: gray;
    }
    i {
        color: black;
        font-size: 2rem;
    }