<nav>
  <div class="logo">
    <img src="assets/images/logo.png" alt="" />
  </div>

  <ul>
    <li><a href="/" style="font-weight: 800;">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li>
      <button>
        <a href="/contact">Contact Me</a>
      </button>
    </li>
  </ul>

  <div class="menu-toggle">
    <input type="checkbox" name="" id="" />
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>